@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

#logo{
    width: 40px;
    position: absolute;
    margin-left: 153px;
    margin-top: 11px;
}

#menu ul{
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
    background-color: #0D0E11;
    padding-left: 204px;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    padding: 20px 15px;
    display: inline-block;
    font-size: 17px;
    color: #a5a5a5;
    font-weight: 400;
    text-decoration: none;
}

#menu ul li a:hover{
    text-decoration: underline;
    color: #f1f1f1;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}
.trendind-now{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #f1f1f1;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 153px;
}

.trending-now-img{
    position: absolute;
    margin-left: 153px;
    display: block;
    word-spacing: 10px;
}

#losvuimg:hover{
    opacity: 30%;
    transition: ease-in-out .36s;
}

#thevoiceimg:hover{
    opacity: 30%;
    transition: ease-in-out .36s;
}

#dateimg:hover{
    opacity: 30%;
    transition: ease-in-out .36s;
}

#snlimg:hover{
    opacity: 30%;
    transition: ease-in-out .36s;
}

#trending ol li{
    display: inline-block;
}

#lwor{
    font-family: 'Source Sans Pro', sans-serif;
    color: #f1f1f1;
    font-weight: 400;
    position: absolute;
    margin-top: 336px;
    font-size: 19px;
    margin-left: 152px;
}

#thevo{
    font-family: 'Source Sans Pro', sans-serif;
    color: #f1f1f1;
    font-weight: 400;
    position: absolute;
    margin-top: 336px;
    font-size: 19px;
    margin-left: 417px;
}

#datel{
    font-family: 'Source Sans Pro', sans-serif;
    color: #f1f1f1;
    font-weight: 400;
    position: absolute;
    margin-top: 336px;
    font-size: 19px;
    margin-left: 682px;
}

#snl{
    font-family: 'Source Sans Pro', sans-serif;
    color: #f1f1f1;
    font-weight: 400;
    position: absolute;
    margin-top: 336px;
    font-size: 19px;
    margin-left: 947px
}

.icon-nbc-trending{
    position: absolute;
    margin-left: 375px;
    margin-top: 340px;
    word-spacing: 238px;
    opacity: 30%;
}